<%# will_paginate @categories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<% @categories.sort_by{|c| c.name.downcase }.each do |category| %>
<ul>
  <li><%= link_to "#{category.name}", category_path(category.id), class: "btn btn-info" %>
   <span class="badge badge-primary badge-pill bg-primary"><%= category.articles.count %></span>
   <% if current_user.admin? %>
   <%= link_to edit_category_path(category.id) do %>
    <i class="fa fa-pen aria-hidden="true""></i>
   <% end %>

   <%= link_to category_path(category.id), method: :delete do %>
   <i class="fa fa-trash" aria-hidden="true"></i>
   <% end %>
   <% end %>
  </li>
</ul>
<% end %>
<% if current_user.admin? %>
  <%= link_to "Add new category", new_category_path, class: "btn btn-warning btn-xl rounded-pill mt-5" %>
<% else %>
  <%= link_to "Offer new category", new_proposition_path, class: "btn btn-warning btn-xl rounded-pill mt-5" %>
<% end %>

<% if current_user.admin? %>
<hr>
<div class = "proposition">
  <h4 class="head-proposition text-center">Proposition of categories from users: </h4>
  <hr>
  <% @propositions.each do |p| %>
   <ul>
     <li class="btn btn-info"><%= p.name %></li>
     <%= link_to "Accept suggestion", "#", method: :put, class: "btn btn-sm btn-outline-success", type: "button" %>
     <%= link_to "Decline", proposition_path(p.id), method: :delete, class: "btn btn-sm btn-outline-danger", type: "button" %>
     <hr>
   </ul>
   <% end %>
</div>

<% end %>
