
<!-- Page content-->
<div class="container">
    <div class="row">

        <!-- Blog entries-->
        <div class="col-lg-8">
            <div class="row">
              <% if @articles.empty? %>
                <h2 class="text-center">No articles in this category at this moment</h2>
              <% end %>
              <% for i in (0..(@articles.length - 1)) %>
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                      <% if @articles[i].picture? %>
                        <%= image_tag(@articles[i].picture.url, height: "400px", class: "card-img-top") %>
                      <% else %>
                        <%= image_tag "unknown.png", height: "350px", class: "card-img-top" %>
                      <% end %>
                        <div class="card-body">
                            <div class="small text-muted"><em>Create <%= @articles[i].created_at.strftime("%d.%m.%Y") %></em></div>
                            <h2 class="card-title h4"><%= @articles[i].title %></h2>
                            <p class="card-text"><%= @articles[i].content.first(150) %></p>
                            <%= link_to "Read full article →", article_path(@articles[i].id), class: "btn btn-primary" %>
                            <div class="art-author"><b>Author:</b> <em><%= link_to (@articles[i].user.nickname), user_path(@articles[i].user.id) %></em></div>
                              <% if can? :destroy, @articles[i] %>
                            <%= link_to "Delete this article", article_path(@articles[i].id), method: :delete, class: "btn btn-danger" %>
                            <%= link_to "Edit article", edit_article_path(@articles[i].id), class: "btn btn-info" %>
                              <% end %>
                        </div>
                        <div class="votingBtn">
                             <span class="voteCount my-vote">Rating: <b><%= @articles[i].get_likes.count %></b></span>
                        </div>
                     </div>
                    </div>
                    <% end %>
             </div>
            </div>

            <div class="col-lg-4">
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Categories</div>
                    <%= render 'layouts/categories' %>
                </div>

                <%= render 'layouts/top_articles' %>

                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Side Widget</div>
                    <div class="card-body"> <%= render 'layouts/sinoptik' %> </div>
                </div>
            </div>
        </div>
    </div>
